@model WebApplication6.Models.LoaiCay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LoaiCay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiCayTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiCayTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiCayMoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiCayMoTa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoaiCayId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
