@model IEnumerable<WebApplication6.Models.LoaiCay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Loai Cay", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoaiCayTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiCayMoTa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiCayTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiCayMoTa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LoaiCayId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LoaiCayId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LoaiCayId })
        </td>
    </tr>
}

</table>
