@model WebApplication6.Models.Cay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiCays.LoaiCayTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiCays.LoaiCayTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CayTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CayTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CayMoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CayMoTa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CayId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
