@model IEnumerable<WebApplication_Product_No_Auth.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@section scripts{
    <script>
        $(function(){
            $('AlertBox').delay(5000).slideUp(500);
        });
    </script>
    }
@if(TempData["AlertMessage"] != null)
{
    <h2 id="AlertBox" class="alert-success">
        @TempData["AlertMessage"]
    </h2>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productLinkImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.productLinkImg)*@
            <img src="@Url.Content(item.productLinkImg)" alt="Image" height="100" width="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.productId }) |
            @Html.ActionLink("Details", "Details", new { id=item.productId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.productId })
        </td>
    </tr>
}

</table>
