@model CodeFirst.Models.LoaiThuCung

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LoaiThuCung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiThuCungName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiThuCungName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiThuCungMota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiThuCungMota)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoaiThuCungId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
