@model IEnumerable<CodeFirstFromDb.tblClass>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiSo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiSo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaLop }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaLop }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaLop })
        </td>
    </tr>
}

</table>
